header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #444444;
  color: gold;
  text-align: center;
  position: fixed;
  height: 10vh;
  width: 100%;
}
